## TASK-1

In [51]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [8]:
df=pd.read_excel("Sample Data Set For Main Tasks.xlsx",header=3)  # importing datset

In [55]:
df.head()   # Data look

,DATE,HS CODE,PRODUCT,QUANTITY,UNIT,UNIT RATE,CURRENCY,TOTAL USD,DESTINATION,EXPORTER,Unnamed: 10
0,21-12-2020,29372900,DRUGS: TRIAMCINOLONE ACETONIDE (TRIAMCIN OLONE...,10.00,KGS,1582.72,USD,16110.00,BANGLADESH,IPCA LABORATORIES LIMITED,ORIOIN PHARMA LIMITED
1,21-12-2020,29372900,DRUGS: BECLOMETHASONE DIPROPIONATE BP(BE CLOME...,0.15,KGS,4421.02,USD,675.00,BANGLADESH,IPCA LABORATORIES LIMITED,TO ORDER OF
2,21-12-2020,29096000,DRUGS: ARTEMETHER INP,550.00,KGS,245.61,USD,137500.00,GHANA,IPCA LABORATORIES LIMITED,KINA PHARMA
3,21-12-2020,29225021,DRUGS: FUROSEMIDE PH.EUR.,1.00,KGS,121.26,USD,123.42,CHINA,IPCA LABORATORIES LIMITED,TO ORDER OF
4,21-12-2020,29039990,DRUGS: LUMEFANTRINE (LUMEFANTRINE INP),3200.00,KGS,35.37,USD,115200.00,GHANA,IPCA LABORATORIES LIMITED,KINA PHARMA

In [11]:
df.PRODUCT.nunique() # number of unique product in data set

84

In [13]:
df.duplicated().sum()  # finnding duplicates if any

0

In [15]:
df.isna().sum()  # cheaking for NULL values

DATE           0
HS CODE        0
PRODUCT        0
QUANTITY       0
UNIT           0
UNIT RATE      0
CURRENCY       0
TOTAL USD      0
DESTINATION    0
EXPORTER       0
Unnamed: 10    0
dtype: int64

In [ ]:
# we have to find product having compositions but different name 
# we can do that by using HS CODE
# each HS code is unique for a specific type of product. 
# The Harmonized System (HS) is an internationally standardized system that assigns a specific code to each type of product based on its characteristics, composition, and intended use.

In [30]:
df2=df.groupby(by='HS CODE')['PRODUCT'].count()  # counting number of product having same HS CODE

In [42]:
df2  # number of product across each HS code

HS CODE
29039990     2
29096000     2
29181320     7
29181390     1
29221990     4
29223900     1
29225021     7
29242990     4
29252990     2
29313900     1
29321990     2
29322090     1
29332990     7
29333920     3
29334900     4
29335920     1
29335990    19
29359090    11
29362990     2
29371900     2
29372900    11
29392040     1
29419090     5
29420027     7
29420034     3
Name: PRODUCT, dtype: int64

In [43]:
hs_code=[]
for index,value in enumerate(df2):      # making list of HS code having more that one product listed
    if value>1:
        hs_code.append(df2.index[index])

In [45]:
hs_code  #  this are  HS codes associates with more than one product we have to find those product using this HS CODES

[29039990,
 29096000,
 29181320,
 29221990,
 29225021,
 29242990,
 29252990,
 29321990,
 29332990,
 29333920,
 29334900,
 29335990,
 29359090,
 29362990,
 29371900,
 29372900,
 29419090,
 29420027,
 29420034]

In [46]:
products=[]
for code in hs_code:
    lst=df[df['HS CODE']==code].PRODUCT.to_list()   # finding product having above HS  code 
    products.append(lst)

In [47]:
products   # this is list of same products having differnt names

[['DRUGS: LUMEFANTRINE (LUMEFANTRINE INP)', 'DRUGS: LUMEFANTRINE PH EUR'],
 ['DRUGS: ARTEMETHER INP', 'DRUGS: ARTEMETHER PH EUR'],
 ['METROPROLOL TARTRATE',
  'DRUGS: METOPROLOL TARTRATE (METOPROLOL T ARTRATE PH.EUR.)',
  'DRUGS METOPROLOL TARTRATE (METOPROLOL TA RTRATE USP)',
  'DRUGS METOPROLOL TARTRATE (METOPROLOL TA',
  'DRUGS: METOPROLOL TARTRATE (METOPROLOL T ARTRATE USP)',
  'DRUGS: METOPROLOL TARTRATE PH EUR',
  'DRUGS: METOPROLOL TARTRATE PH EUR'],
 ['DRUGS: BISOPROLOL FUMARATE USP',
  'DRUGS: BISOPROLOL FUMARATE USP',
  'DRUGS: BISOPROLOL FUMARATE USP',
  'DRUGS: BISOPROLOL FUMARATE USP'],
 ['DRUGS: FUROSEMIDE PH.EUR.',
  'DRUGS: FUROSEMIDE PH.EUR',
  'DRUGS: FRUSEMIDE/ FUROSEMIDE USP',
  'DRUGS: FUROSEMIDE PH.EUR',
  'DRUGS : FUROSEMIDE USP',
  'DRUGS FUROSEMIDE BP',
  'DRUGS: FUROSEMIDE PH.EUR'],
 ['DRUGS VALSARTAN USP',
  'DRUGS: VALSARTAN USP',
  'DRUGS: VALSARTAN PH.EUR.',
  'DRUGS: VALSARTAN PH.EUR.'],
 ['DRUGS: METFORMIN HYDROCHLORIDE USP', 'DRUGS METFORMIN HYDROCHLORIDE BP'],
 ['DRUGS: BENZBROMARONE JP', 'DRUGS: BENZBROMARONE JP'],
 ['LOSARTAN POTASSIUM(LOSARTAN POTASSIUM US P)',
  'DRUGS:LOSARTAN POTASSIUM(LOSARTAN POTASS IUM USP)',
  'DRUGS: LOSARTAN POTASSIUM (LOSARTAN POTA SSIUM USP)',
  'DRUGS: FLUCONAZOLE PH.EUR.',
  'DRUGS: LOSARTAN POTASSIUM (LOSARTAN POTA SSIUM USP)',
  'DRUGS: LOSARTAN POTASSIUM (LOSARTAN POTA SSIUM USP)',
  'DRUGS: LOSARTAN POTASSIUM (LOSARTAN POTA SSIUM USP)'],
 ['DRUGS: METHYL PHENIDATE HYDROCHLORIDE PH .EUR.',
  'DRUGS: PAROXETINE HCL HEMIHYDRATE PH.EUR . (PAROXETINE HCL HEMIHYDRATE)',
  'DRUGS: PAROXETINE HCL HEMIHYDRATE (PAROX ETINE HYDROCHLORIDE HEMIHYDRATE USP)'],
 ['DRUGS: HYDROXYCHLOROQUINE SULPHATE / SUL FATE (HYDROXYCHLOROQUINE SULPHATE USP)',
  'DRUGS: AMODIAQUINE HYDROCHLORIDE USP',
  'DRUGS: AMODIAQUINE HYDROCHLORIDE USP',
  'DRUGS: HYDROXYCHLOROQUINE SULPHATE / SUL FATE (HYDROXYCHLOROQUINE SULPHATE USP)'],
 ['DRUGS: PYRANTEL PAMOATE USP (PYRANTEL PA MOATE)',
  'DRUGS PYRANTEL PAMOATE (PYRANTEL PAMOATE USP)',
  'DRUGS PYRANTEL PAMOATE (PYRANTEL PAMOAT E USP)',
  'DRUGS OXANTEL PAMOATE',
  'DRUGS: OXANTEL PAMOATE',
  'DRUGS ALLOPURINOL (ALLOPURINOL PH.EUR. )',
  'DRUGS: PYRANTEL PAMOATE USP (PYRANTEL PA MOATE)',
  'DRUGS ALLOPURINOL (ALLOPURINOL PH.EUR.',
  'DRUGS: PYRANTEL PAMOATE (PYRANTEL PAMOAT',
  'DRUGS ALLOPURINOL (ALLOPURINOL USP )',
  'DRUGS OXANTEL PAMOATE',
  'DRUGS PYRANTEL PAMOATE USP (PYRANTEL PAM OATE )',
  'DRUGS PYRANTEL PAMOATE USP (PYRANTEL PA MOATE )',
  'DRUGS ALLOPURINOL (ALLOPURINOL PH.EUR. )',
  'DRUGS: CETIRIZINE DI HYDROCHLORIDE PH.EU R.',
  'DRUGS: PYRANTEL PAMOATE USP (PYRANTEL PA MOATE)',
  'DRUGS: CETIRIZINE DI HYDROCHLORIDE PH.EU',
  'DRUGS: CETIRIZINE DI HYDROCHLORIDE PH.EU R.',
  'DRUGS: CETIRIZINE DI HYDROCHLORIDE PH.EU R.'],
 ['DRUGS: HYDROCHLOROTHIAZIDE PH.EUR.',
  'DRUGS: TORSEMIDE PH.EUR.',
  'DRUGS HYDROCHLOROTHIAZIDE PH.EUR.',
  'DRUGS: GLIMEPIRIDE USP',
  'DRUGS: GLIMEPIRIDE USP',
  'DRUGS: HYDROCHLOROTHIAZIDE PH.EUR.',
  'DRUGS:CHLORTHALIDONE / CHLORTALIDONE USP (LUT ARN NO.AD230320003817M Dated 21.03. 2020)',
  'DRUGS: HYDROCHLOROTHIAZIDE BP',
  'DRUGS: HYDROCHLOROTHIAZIDE BP',
  'DRUGS: BENDROFLUMETHIAZIDE',
  'DRUGS: HYDROCHLOROTHIAZIDE BP'],
 ['DRUGS: CALCITRIOL EP (WORKING STANDARDS)', 'DRUGS: CALCITRIOL EP'],
 ['DRUGS: TESTOSTERONE PROPIONATE PH.EUR.',
  'DRUGS  TESTOSTERONE UNDECANOATE  BATCH N O: 19002TU1RN  MFG DT: FEB-2019  RE-TEST DT: JAN 2022'],
 ['DRUGS: TRIAMCINOLONE ACETONIDE (TRIAMCIN OLONE ACETONIDE BP)',
  'DRUGS: BECLOMETHASONE DIPROPIONATE BP(BE CLOMETHASONE DIPROPIONATE)',
  'DRUGS: BETAMETHASONE DIPROPIONATE MIC (B',
  'DRUGS: BECLOMETHASONE DIPROPIONATE MIC ( BECLOMETHASONE DIPROPIONATE)',
  'DRUGS: BETAMETHASONE SODIUM PHOSPHATE EP',
  'DRUGS: TRIAMCINOLONE ACETONIDE (TRIAMCIN OLONE ACETONIDE USP)',
  'DRUGS: TESTOSTERONE USP',
  'DRUGS: TRIAMCINOLONE ACETONIDE (TRIAMCIN OLONE ACETONIDE USP/BP)',
  'DRUGS: TESTOSTERONE PH.EUR.',
  'DRUGS : TESTOSTERONE PH. EUR.',
  'DRUGS : METHYLPREDNISOLONE ACEPONATE IHT'],
 ['DRUGS: FLUMEQUINE (FLUMEQUINE PH.EUR)',
  'DRUGS: FLUMEQUINE (FLUMEQUINE PH.EUR)',
  'DRUGS: FLUMEQUINE PH.EUR. (FLUMEQUINE)',
  'DRUGS FLUMEQUINE (FLUMEQUINE PH.EUR)',
  'DRUGS: FLUMEQUINE (FLUMEQUINE PH.EUR)'],
 ['DRUGS.PROPRANOLOL HYDROCHLORIDE Ph.Eur.( TABLET GRADE) (Batch No. 20031PRTB & 200 32PRTB Mfg Dt :OCT 2020 Retest dt: SEP 2',
  'DRUGS.ATENOLOL PH.EUR (BATCH NO.20044A2T B TO 20048A2TB MFG DT:SEP 2020 & OCT 202 0 RETEST DT:AUG 2025 & SEP 2025)',
  'DRUGS: ATENOLOL BP',
  'DRUGS ATENOLOL PH.EUR',
  'PROPRANOLOL HYDROCHLORIDE USP(LUT ARN NO .AD230320003817M Dated 21.03.2020)',
  'DRUGS:ATENOLOL USP(LUT ARN NO.AD23032000 3817M Dated 21.03.2020)',
  'DRUGS : ATENOLOL PH. EUR.'],
 ['DRUGS: FAMOTIDINE JP', 'DRUGS: FAMOTIDINE JP', 'DRUGS FAMOTIDINE USP']]

In [49]:
result=pd.DataFrame({"HS_CODE":hs_code,'PRODUCT':products})

In [50]:
result

     HS_CODE                                            PRODUCT
0   29039990  [DRUGS: LUMEFANTRINE (LUMEFANTRINE INP), DRUGS...
1   29096000  [DRUGS: ARTEMETHER INP, DRUGS: ARTEMETHER PH EUR]
2   29181320  [METROPROLOL TARTRATE, DRUGS: METOPROLOL TARTR...
3   29221990  [DRUGS: BISOPROLOL FUMARATE USP, DRUGS: BISOPR...
4   29225021  [DRUGS: FUROSEMIDE PH.EUR., DRUGS: FUROSEMIDE ...
5   29242990  [DRUGS VALSARTAN USP, DRUGS: VALSARTAN USP, DR...
6   29252990  [DRUGS: METFORMIN HYDROCHLORIDE USP, DRUGS MET...
7   29321990  [DRUGS: BENZBROMARONE JP, DRUGS: BENZBROMARONE...
8   29332990  [LOSARTAN POTASSIUM(LOSARTAN POTASSIUM US P), ...
9   29333920  [DRUGS: METHYL PHENIDATE HYDROCHLORIDE PH .EUR...
10  29334900  [DRUGS: HYDROXYCHLOROQUINE SULPHATE / SUL FATE...
11  29335990  [DRUGS: PYRANTEL PAMOATE USP (PYRANTEL PA MOAT...
12  29359090  [DRUGS: HYDROCHLOROTHIAZIDE PH.EUR., DRUGS: TO...
13  29362990  [DRUGS: CALCITRIOL EP (WORKING STANDARDS), DRU...
14  29371900  [DRUGS: TESTOSTERONE PROPIONATE PH.EUR., DRUGS...
15  29372900  [DRUGS: TRIAMCINOLONE ACETONIDE (TRIAMCIN OLON...
16  29419090  [DRUGS: FLUMEQUINE (FLUMEQUINE PH.EUR), DRUGS:...
17  29420027  [DRUGS.PROPRANOLOL HYDROCHLORIDE Ph.Eur.( TABL...
18  29420034  [DRUGS: FAMOTIDINE JP, DRUGS: FAMOTIDINE JP, D...

In [52]:
# this is our final data frame which contain product list with same compositions but different name  having same HS CODE  
# Now we can Substitute the one common name for this product and do further analysis.

In [58]:
# example
result.loc[0,'PRODUCT']   # this is the list of same products having hs code 29039990. we can replace these product with one commone name to reduce redundency

['DRUGS: LUMEFANTRINE (LUMEFANTRINE INP)', 'DRUGS: LUMEFANTRINE PH EUR']

In [64]:
df.columns

Index(['DATE', 'HS CODE', 'PRODUCT', 'QUANTITY', 'UNIT', 'UNIT RATE',
       'CURRENCY', 'TOTAL USD', 'DESTINATION', 'EXPORTER', 'Unnamed: 10'],
      dtype='object')

## TASK-2

In [102]:
# for task 2 we will build a function which will take HS code as input and give curresponding output with aggreegating the terms

In [103]:
def get_agg(hs_code):

        prod=[]
        Quantity=[]
        Unit=[]
        Unit_rate=[]
        hsc=[]
        Currency=[]
        Total_usd=[]
        for  product in result[result['HS_CODE']==hs_code].PRODUCT.to_list()[0]:
            for i in list(df[df['PRODUCT']==product].index):
                quantity, unit,urate,currency,usd=df[df['PRODUCT']==product].loc[i,['QUANTITY','UNIT','UNIT RATE','CURRENCY','TOTAL USD']]
                prod.append(product)
                Quantity.append(quantity)
                Unit_rate.append(urate)
                Unit.append(unit)
                hsc.append(29362990)
                Currency.append(currency)
                Total_usd.append(usd) 
            df2=pd.DataFrame()
            df2['HS_CODE']=hsc
            df2['PRODUCT']=prod
            df2["QUANTITY"]=Quantity
            df2['Unit']=Unit
            df2['UNIT_RATE']=Unit_rate
            df2['Currency']=Currency
            df2['TOTAL_USD']=Total_usd
        
        data=df2.sort_values(by='PRODUCT')    # it will sort the product 
        data2=pd.pivot_table(data,values=['QUANTITY','UNIT_RATE','TOTAL_USD'],index='PRODUCT',aggfunc='sum',margins=True,margins_name="TOTAL")
        return data,data2

In [104]:
data,data2=get_agg(hs_code=29362990)  # giving hs code as input

In [105]:
data # data curresponding to hs code

,HS_CODE,PRODUCT,QUANTITY,Unit,UNIT_RATE,Currency,TOTAL_USD
1,29362990,DRUGS: CALCITRIOL EP,1.54,GMS,4338.39,USD,6777.22
0,29362990,DRUGS: CALCITRIOL EP (WORKING STANDARDS),0.02,GMS,24655.64,USD,500.21

In [106]:
data2  #data with agg.

                                          QUANTITY  TOTAL_USD  UNIT_RATE
PRODUCT
DRUGS: CALCITRIOL EP                          1.54    6777.22    4338.39
DRUGS: CALCITRIOL EP (WORKING STANDARDS)      0.02     500.21   24655.64
TOTAL                                         1.56    7277.43   28994.03